<div class="page-header theme-bg-dark py-5 text-center position-relative">
    <div class="theme-bg-shapes-right"></div>
    <div class="theme-bg-shapes-left"></div>
    <div class="container">
        <h1 class="page-heading single-col-max mx-auto">Logaty Documentation</h1>
        <div class="page-intro single-col-max mx-auto">Everything you need about <strong>LOGATY</strong>.</div>
        <div class="main-search-box pt-3 d-block mx-auto">
            <form class="search-form w-100">
                <input id="search-input" type="text" placeholder="Search in Logaty Docs..." name="search" class="form-control search-input" autocomplete="off">
                <button type="button" disabled="disabled" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
                <div id="search-results" class="search-results"></div>
                <div class="search-overlay"></div>
            </form>
        </div>
    </div>
</div>