<article class="docs-article" id="intro-section">
    <section class="docs-header">
        <h1 class="docs-heading">Introduction <span class="docs-time">Last updated: {{ page.last-update }}</span></h1>
        <section class="docs-intro">
            <p><strong>PHPtricks-ORM</strong> A database Library which uses the PDO extension.</p>
            <ul>
                <li>Allows one connection with the database and deny duplicate connections,
                <br>this speeds up to use the database and reduces the load on the server.</li>

                <li>supports many drivers (mysql, sqlite, PostgreSQL, mssql, sybase, Oracle Call Interface -oci-).</li>
                <li>it makes communication easy with databases and perform operations on tables with ease.</li>
            </ul>

        </section><!--//docs-intro-->

        <h5>Github Repository:</h5>
        <p>Find <a class="theme-link" href="https://github.com/anzawi/php-database-class"  target="_blank">phptricks-ORM Source Code in github</a></p>
    </section>
</article>


<article class="docs-article" id="quick-start">
    <section class="docs-header">
        <h1 class="docs-heading">Overview</h1>
        <section class="docs-intro">
            <p>Start Using PHPtricks-ORM. It won't take more than 5 minutes to start. Read the step-by-step guide.</p>
        </section><!--//docs-intro-->

        {% include partials/parts/quick-start.html %}

    </section>
</article>


<section class="cta-section text-center py-5 theme-bg-light position-relative">
    <div class="theme-bg-shapes-right"></div>
    <div class="theme-bg-shapes-left"></div>
    <div class="container">
        <h3 class="mb-2 text-black-50 mb-3">Need a Help ?</h3>
        <div class="section-intro text-black-50 mb-3 single-col-max mx-auto">
            feel free to contact me on < m.anzawi2013@gmail.com >
        </div>
        <div class="pt-3 text-center">
            <a href="https://github.com/anzawi/database_class/issues" class="btn btn-secondary">
                Visit Community
            </a>
        </div>
    </div>
</section><!--//cta-section-->
<section class="cta-section text-center py-5 theme-bg-dark position-relative">
    <div class="theme-bg-shapes-right"></div>
    <div class="theme-bg-shapes-left"></div>
    <div class="container">
        <h3 class="mb-2 text-white mb-3">Fork On Github</h3>
        <div class="section-intro text-white mb-3 single-col-max mx-auto">
            Fork PHPtricks-ORM Library on Github and help me to develop something awesome
        </div>
        <div class="pt-3 text-center">
            <a href="https://github.com/anzawi/database_class" class="btn btn-light">
                Fork Repository
            </a>
        </div>
    </div>
</section><!--//cta-section-->